<%- include('includes/head') %>

<section class="container">
    <h1><%= titulo %></h1>
    <article class="content">
        <h2> <%= subtitulo %></h2>
        <%= content %>
        <%= readJSON %>
    </article>
</section>

<%- include('includes/footer') %>